#logo-header {
    width: 50%;
    height: 220px;
    position: relative;
    margin: 0 auto;
    display: block;
}

#logo-header img {
    width: 100%;
}

#footer {
    width: 80%;
    position: relative;
    margin: 150px auto 0;
    text-align: center;
    color: #fff;
}
#loading-text {
    text-align: center;
    font-size: 40px;
    color: #fff;
}