#logo-header {
    width: 50%;
    height: 220px;
    position: relative;
    margin: 0 auto;
    display: block;
}

#logo-header img {
    width: 100%;
}

#footer {
    width: 80%;
    position: relative;
    margin: 150px auto 0;
    text-align: center;
    color: #fff;
}
#loading-text {
    text-align: center;
    font-size: 40px;
    color: #fff;
}
#menu-header {
    position: relative;
    margin: 20px auto;
    width: max-content;
}

#menu-header a {
    color: #fff;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    border: 1px solid;
    border-radius: 100px;
}

@media screen and (max-width: 769px){
    #logo-header {
        width: 100%;
    }
}